In [741]:
import pandas as pd
import numpy as np

In [742]:
# Get the data:
train_filepath = 'data/train.csv'
traindata = pd.read_table(train_filepath)

In [743]:
from sklearn.utils import shuffle
traindata = shuffle(traindata)

In [744]:
traindata.head(10)

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
134848,606351,vpuUyzUJ0z,"Unit CTA1_01, Section CTA1_01-2",RXMX1B,1,R2C2,2005-08-30 13:10:39.0,2005-08-30 13:10:45.0,2005-08-30 13:10:45.0,2005-08-30 13:10:45.0,6.0,6.0,NaN,1,0,0,1,Identifying units,3
159265,748373,f45jOmRd4S,"Unit ES_02, Section ES_02-6",EG40,4,row2constant factors,2005-12-20 10:02:37.0,2005-12-20 10:02:43.0,2005-12-20 10:02:43.0,2005-12-20 10:04:29.0,68.0,68.0,NaN,1,1,0,2,NaN,NaN
206867,969125,Uv4cSe2ijd,"Unit ES_03, Section ES_03-2",EG45,1,row1-D-x,2006-04-26 10:22:55.0,2006-04-26 10:22:59.0,2006-04-26 10:22:59.0,2006-04-26 10:22:59.0,4.0,4.0,NaN,1,0,0,1,NaN,NaN
199953,957054,93YVE85s1x,"Unit ES_04, Section ES_04-9",EG57,2,5x+2 = -18,2006-02-24 10:35:48.0,2006-02-24 10:35:52.0,2006-02-24 10:35:52.0,2006-02-24 10:35:52.0,4.0,4.0,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",27
218755,1021161,2kb387yOiG,"Unit ES_03, Section ES_03-4",EG50A,1,-36.3y-y = -9,2006-04-12 08:32:55.0,2006-04-12 08:32:57.0,2006-04-12 08:32:57.0,2006-04-12 08:33:21.0,9.0,9.0,NaN,1,0,0,2,"[SkillRule: Consolidate vars, no coeff; CLT]",17
50570,283926,tlJn3I40bf,"Unit CTA1_02, Section CTA1_02-2",BH1T35A,2,XLabel,2005-09-26 08:41:17.0,2005-09-26 08:41:25.0,2005-09-26 08:41:25.0,2005-09-26 08:41:25.0,8.0,8.0,NaN,1,0,0,1,Labelling the axes,6
116483,546889,l8bH01vT7z,"Unit CTA1_06, Section CTA1_06-3",FEB04,1,yMax,2006-03-14 14:57:47.0,2006-03-14 14:57:54.0,2006-03-14 14:57:58.0,2006-03-14 14:57:58.0,11.0,NaN,11.0,0,1,0,1,Changing axis bounds,91
28632,105479,8ZPoEJbXB7,"Unit QUAD-VERTICAL-MOTION, Section QUAD-VERTIC...",NEWQUAD1TRE,2,R5C1,2006-03-22 14:21:24.0,2006-03-22 14:21:34.0,2006-03-22 14:21:34.0,2006-03-22 14:21:34.0,10.0,10.0,NaN,1,0,0,1,Entering a given~~Entering a given linear value,242~~34
58815,313268,y5009rpZ12,"Unit CTA1_21, Section CTA1_21-1",BH1T12,1,YLabel,2006-05-24 13:00:57.0,2006-05-24 13:01:00.0,2006-05-24 13:01:00.0,2006-05-24 13:01:00.0,3.0,3.0,NaN,1,0,0,1,Labelling the axes,186
81658,402886,E38It7fjg0,"Unit CTA1_14, Section CTA1_14-2",1PTB03,1,R2C2,2006-01-30 09:22:55.0,2006-01-30 09:22:58.0,2006-01-30 09:22:58.0,2006-01-30 09:22:58.0,3.0,3.0,NaN,1,0,0,1,Identifying units,237

In [745]:
SID = np.unique(traindata['Anon Student Id'])

In [746]:
Step = np.unique(traindata['Step Name'])

In [747]:
KC = []
for _,row in traindata.iterrows():
    if pd.isnull(row['KC(Default)']):
        continue
    KC.extend(row['KC(Default)'].split("~~"))

In [748]:
Problem = np.unique(traindata['Problem Name'])

In [749]:
len(Problem)

1021

In [750]:
KC = np.unique(KC)

In [751]:
SID_dic = {}
Step_dic = {}
KC_dic = {}
Problem_dic = {}
for sid in SID:
    SID_dic[sid] = [0, 0]
for step in Step:
    Step_dic[step] = [0, 0]
for kc in KC:
    KC_dic[kc] = [0, 0]
for problem in Problem:
    Problem_dic[problem] = [0, 0]

In [752]:
# calculate the tuple(probabilities) of each CFA
for _,row in traindata.iterrows():
    sid = row['Anon Student Id']
    step = row['Step Name']
    problem = row['Problem Name']
    kc_list = []
    if not pd.isnull(row['KC(Default)']):
        kc_list = row['KC(Default)'].split("~~")
    
    SID_dic[sid][1] += 1
    Step_dic[step][1] += 1
    Problem_dic[problem][1] += 1
    if kc_list:
        for kc in kc_list:
            KC_dic[kc][1] += 1
            
    if row['Correct First Attempt'] == 1:
        SID_dic[sid][0] += 1
        Step_dic[step][0] += 1
        Problem_dic[problem][0] += 1
        if kc_list:
            for kc in kc_list:
                KC_dic[kc][0] += 1

## Laplace Smoothing

In [754]:
for key in Step_dic.keys():
    Step_dic[key][0] += 2
    Step_dic[key][1] += 2

# Sanity check

In [755]:
SID_dic['02i5jCrfQK']

[5171, 6654]

In [756]:
KC_dic['Edit Algebraic k']

[174, 248]

In [757]:
Problem_dic['1PTB02']

[478, 551]

In [758]:
SID_dic.keys()

dict_keys(['02i5jCrfQK', '0GlR30c2Mt', '0KS4yy9G96', '0nF0z1401O', '12M70dm49w', '162lfGskK2', '16zN4n2fFO', '183ppvOXp8', '1bJbgQ32E3', '1k3GIfwBw6', '23T7Up1oQ6', '242fhbKRf9', '276487SwvF', '29U6L12O3k', '2kb387yOiG', '2x0Z9q6jD0', '3008m5T78s', '3C1dH8H8v3', '3Whv9UbPsR', '3k85qY4Y2B', '42FRuGgL06', '443ptPwtPd', '448d2Kv3hw', '45euP7C062', '45oTz6NVkr', '46K8Eq75fJ', '4EUt9uDfjG', '4ajdr1a4Kc', '517LN52NOL', '52vEY7f17k', '5AhC6ORULJ', '5Q69X4zFkC', '5ZR29q8c56', '5cuKF3lL4D', '5g8708DBB0', '5yasLi1Avt', '694Y3fju01', '6Ax4SKe470', '6EjPt2xgrB', '6W08a98ZQV', '6c2Im3PZdL', '6dGeA2ZpO4', '6ghrwY35fW', '6jCygPdswz', '7esK30uHH1', '7gJUbn9s1V', '7o7172ufx2', '7oiAa7MlW2', '7tV3w3qB6t', '80nlN05JQ6', '879eYkR2Wu', '88Uhb8760x', '8MG4r9aMdu', '8ZPoEJbXB7', '8d194g9ccT', '8gH5u019ZH', '8mKdvKlPOw', '8o0mJnIpFH', '938jD6Z338', '93YVE85s1x', '9iQ6dU8Ooj', 'C0qLCIhI0O', 'CaA0123UJL', 'D431zXkvuC', 'DZXDgO0B3u', 'Ds3B2dRQo8', 'E38It7fjg0', 'EaUoBdvBdC', 'Exz0X2naK1', 'F9WJ1RKM4L', 'FD5m13We02', 'FrPh305pw8', 'GlZwe88Gzo', 'H5p2L3L4hU', 'Hd9GW3f95j', 'JP20cryBg8', 'JU5Ms0pxvu', 'L24St09aez', 'MCA1W52H2T', 'Mhc6xUn6X1', 'N4Ab8Bvj98', 'O4YDV4XPTd', 'QER9PsCgBT', 'QS4cvQ8w0o', 'QUcO70Q91P', 'R398qG76GC', 'R440Y09vu3', 'Rl6LafSUXj', 'S2KFxgwMsH', 'S7E3jvZbGG', 'UEArk7W20r', 'UJCeB1hbie', 'Ud9p3KH6Bv', 'Un24RpQEWg', 'Uv4cSe2ijd', 'V2p98HHF6o', 'VHCF3iE0a4', 'X223hIsDU4', 'XGFd357i6u', 'XHm4u4Y8OU', 'XT7r2I6hmm', 'Y5XkapASsg', 'YH4M65c5kP', 'YgQ57c2glM', 'YoXjDl010q', 'YtB3X13RXe', 'Zxu8oS1jJ2', 'a43DzeQWut', 'auW9kr3fh6', 'b4WRCgbjkN', 'c3Ee3W8hyq', 'c7A4cZK28M', 'cbgx682J78', 'ck0GIf31rJ', 'cua2tdf6zb', 'dD0vTK3gXD', 'dvG32rxRzQ', 'e95f4UtF4I', 'ey9rvMnU57', 'f1924U65I1', 'f45jOmRd4S', 'f4fNYL73Z2', 'g209g5Vve6', 'h0UbH181l8', 'hK3QE3xOF8', 'hgivhSMgnH', 'i0FfLG15di', 'i5Y9A05Ph8', 'i8f2gg51r5', 'jXc985G8qy', 'jdT9cZAxyb', 'k37lfl6ENf', 'l8bH01vT7z', 'l8kuAhlIWI', 'm9a501e1MM', 'mI0bEZaepz', 'merKN5i5Of', 'oEt3YTvS4G', 'oSV25Eb2y9', 'p5CPTG2423', 'pXs7s2k8Jv', 'pg8uPBYamG', 'pgHmAyjLe1', 'q1Yar3mIhE', 'qkmLNnC7YU', 'qvGwtJZv09', 'rE6U5574qn', 'rPj8YeG1I5', 'rnOGP59582', 's19Mo891H5', 'st945Ucdi6', 't0fI2c7EMH', 't3dx1x27e1', 'tlJn3I40bf', 'txnqGG764s', 'u004wY493z', 'uz40H610bF', 'v52MhQAVT9', 'vkQ059OE0u', 'vpuUyzUJ0z', 'w33QZ9Q64W', 'wu58ARZBA2', 'wz0V4oY4Z2', 'x64anap2Kz', 'xH487WMLoS', 'y5009rpZ12', 'yA79w15tnU', 'yB480DNZ70', 'yDO9pl8GC0', 'yG447121nm', 'z2zuhnARi6', 'z9svx3mA4s', 'zUlk9c7UEv', 'zfYl0YECr0'])

In [759]:
# avg values
correct = 0
alll = 0
for value in SID_dic.values():
    correct += value[0]
    alll += value[1]
SID_avg = correct/alll

correct = 0
alll = 0
for value in Step_dic.values():
    correct += value[0]
    alll += value[1]
Step_avg = correct/alll

correct = 0
alll = 0
for value in KC_dic.values():
    correct += value[0]
    alll += value[1]
KC_avg = correct/alll

correct = 0
alll = 0
for value in Problem_dic.values():
    correct += value[0]
    alll += value[1]
Problem_avg = correct/alll

In [760]:
Problem_avg

0.7809352765269996

In [761]:
# specific for training set!!
Final_list = []
for _,row in traindata.iterrows():
    sid = row['Anon Student Id']
    step = row['Step Name']
    problem = row['Problem Name']
    kc_list = []
    if not pd.isnull(row['KC(Default)']):
        kc_list = row['KC(Default)'].split("~~")
        
    P_sid = SID_dic[sid][0]/SID_dic[sid][1]
    P_step = Step_dic[step][0]/Step_dic[step][1]
    P_problem = Problem_dic[problem][0]/Problem_dic[problem][1]
    P_kc = 1
    if kc_list:
        for kc in kc_list:
            P_kc *= KC_dic[kc][0]/KC_dic[kc][1]
    else:
        # KC is NaN
        P_kc = 0.8
    Final_list.append([P_sid, P_step, P_kc, P_problem])

In [762]:
Final_list[0]

[0.8181208053691276, 0.8509615384615384, 0.796003717472119, 0.7954545454545454]

In [763]:
label = [row['Correct First Attempt'] for _,row in traindata.iterrows()]

In [764]:
len(label)

232744

In [765]:
train_feat = Final_list[:220000]
val_feat = Final_list[220000:]
train_label = label[:220000]
val_label = label[220000:]

np.save("train_feat_2", train_feat)
np.save("val_feat_2", val_feat)
np.save("train_label_2", train_label)
np.save("val_label_2", val_label)

# The following are for the network proportion

In [1440]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import numpy as np

train_feat = np.load("train_feat_2.npy")
val_feat = np.load("val_feat_2.npy")
train_label = np.load("train_label_2.npy")
val_label = np.load("val_label_2.npy")

new_train_label = []
for i in train_label:
    new_train_label.append([i])

new_val_label = []
for i in val_label:
    new_val_label.append([i])
    
X = torch.Tensor(train_feat)
y = torch.Tensor(new_train_label)

In [1351]:
class Net(nn.Module):
    def __init__(self):
        super(Net,self).__init__()
        self.fc1 = nn.Linear(4,8)
        self.fc2 = nn.Linear(8,16)
        self.fc3 = nn.Linear(16,4)
        self.fc4 = nn.Linear(4,1)
        
    def forward(self,x):
        x = self.fc1(x)
        x = F.tanh(x)
        x = self.fc2(x)
        x = F.tanh(x)
        x = self.fc3(x)
        x = F.tanh(x)
        x = self.fc4(x)
        return x

model = Net()
criterion = nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

In [1479]:
for param in model.parameters():
    print(param)
# model.parameters()

Parameter containing:
tensor([[ 1.0125, -1.7040,  0.0741, -0.8075],
        [-1.0498, -2.8836,  0.4618,  2.6883],
        [-0.9457,  2.7745, -0.1600, -1.5417],
        [-2.1341,  1.1354, -2.7789, -0.4805],
        [ 1.9020,  0.9193, -1.1283,  1.3837],
        [-1.5160,  1.9503, -2.4400,  0.7404],
        [ 0.9895, -0.2383, -1.3189, -2.0190],
        [-0.3510,  0.2359,  3.3524, -1.2089]], requires_grad=True)
Parameter containing:
tensor([ 0.8087, -0.6677,  0.5328,  1.6426, -1.7278,  0.6370,  0.8650,  0.7292],
       requires_grad=True)
Parameter containing:
tensor([[  1.0496,   3.8450,  -1.4152,  -0.2770,  -2.4942,   6.0117,  -0.9739,
           0.7311],
        [  2.5577,  11.9453,  -5.2010,   0.8215,  -4.0036,  -8.2250,   4.4956,
          -2.9875],
        [ 13.0413,  -3.3860,  -1.9000,  12.1754,   5.8256,  -4.3336,   3.1725,
          -1.7862],
        [ -1.8916,   0.9320,  -3.2071,   0.4099,   3.3220,  -1.3629,  -1.4068,
           1.6039],
        [ -2.4878,   1.4152,   0.1112,  -0.1217,   2.0869,  -1.3147,   0.3950,
          -0.0444],
        [ -2.5669,   0.0738,  -1.8900,  -0.2436,  -0.6133,  -0.3374,  -4.4027,
          -0.0854],
        [ -7.6895,  -1.4785,  -0.3377,   2.2054,   8.9641,  -5.7016,  -2.3640,
          -2.9610],
        [  1.5941, -25.5668,   8.5157,   2.1854,   1.6628,  -5.3472,   1.2327,
           6.7945],
        [  5.5650,  -2.1946,  -2.8570,   6.6466,  -2.8397,  -5.3324,   1.9870,
          -0.8237],
        [  1.0690,  -1.7193,   0.4167,   1.0713,  -3.7386,   1.8633,   5.0371,
           2.2592],
        [  5.0502,  -6.9857,   2.2557,  -5.5051,  -0.3891,  -3.6049,   4.1145,
           3.1532],
        [ -1.6962,  -0.1278,  -0.5498,   2.8852,   0.2449,   1.5963,   0.4850,
           0.4494],
        [  8.1608,  -0.7500,  -5.3985,  -2.3361,   5.6004, -20.7095,  -2.2101,
          -2.0675],
        [  2.7287,   2.4286,  -7.8952,  -1.0695,   1.1038,   4.5405,  -3.2953,
         -14.0638],
        [  4.6147,  21.1016,   8.1968,  -1.7975,  -7.4449,   2.8538,  -2.3315,
           0.9559],
        [  1.3731,   0.2672,  -0.5684,  -0.9406,   0.7633,  -2.3145,  -1.6055,
          -0.0281]], requires_grad=True)
Parameter containing:
tensor([ 1.7711, -4.2308,  0.6722,  1.4539,  0.3153, -0.0876, -0.5150,  2.9425,
        -0.4937,  0.8681,  2.2298,  0.0650, -2.2249, -1.7593, -2.2724,  0.1010],
       requires_grad=True)
Parameter containing:
tensor([[-2.6968,  0.1955, -1.7915,  2.4431, -3.0186,  2.9328,  1.1852, -2.5899,
          3.2458,  2.6132,  0.4238,  4.6061, -3.4479, -0.1727,  2.7820,  2.4258],
        [-0.9005,  4.4162,  0.5577,  0.7267, -0.4813, -0.8726,  0.0386, -2.5915,
          0.3208,  0.9931, -2.6288, -2.4412,  0.1202, -1.1304,  0.5309,  0.6390],
        [ 0.3651,  0.1511, -1.1117,  3.2986,  4.1088, -0.9543, -0.6101,  1.1591,
          2.2865,  2.3026,  1.0017,  1.1977,  0.9664,  1.4955, -1.7933,  0.1545],
        [-0.1260, -0.6724,  0.5617, -1.1151, -0.4083, -0.3144, -0.6683, -0.2673,
         -1.5902, -0.9165, -0.5101,  0.8405,  0.0320, -0.6296, -0.2993,  1.0355]],
       requires_grad=True)
Parameter containing:
tensor([ 0.3938,  0.2611,  0.5321, -0.5154], requires_grad=True)
Parameter containing:
tensor([[-1.3402, -1.0602, -1.9756, -2.0263]], requires_grad=True)
Parameter containing:
tensor([0.7644], requires_grad=True)

In [1327]:
model.load_state_dict(torch.load("model.pth"))
model.eval()

In [1454]:
from tqdm import tqdm

epochs = 1000
for i in tqdm(range(epochs)):
    y_pred = model(X)
#     print(y_pred)
#     break
    loss = criterion(y_pred, y)
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

100%|██████████| 1000/1000 [00:01<00:00, 540.16it/s]

In [1273]:
torch.save(obj=model.state_dict(), f="model.pth")

In [1047]:
import math
for key in ans.keys():
    v = list(map(lambda x: abs(x[0]-x[1]), zip(ans[key], train_label)))
    print(key, sum(v)/len(v))

0.1 0.25
0.15000000000000002 0.2614035087719298
0.20000000000000004 0.2657894736842105
0.25000000000000006 0.27280701754385966
0.30000000000000004 0.27456140350877195
0.3500000000000001 0.27807017543859647
0.40000000000000013 0.2824561403508772
0.45000000000000007 0.2929824561403509
0.5000000000000001 0.3026315789473684
0.5500000000000002 0.31140350877192985
0.6000000000000002 0.31491228070175437
0.6500000000000001 0.3219298245614035
0.7000000000000002 0.33596491228070174
0.7500000000000002 0.35964912280701755
0.8000000000000002 0.38070175438596493
0.8500000000000002 0.3991228070175439

In [1046]:
ans = {}
for th in np.arange(0.1, 0.9, 0.05):
    ans_ = []
    for t in y_pred:
        if t[0]>th:
            ans_.append(1)
        else:
            ans_.append(0)
    ans[th] = ans_

# test set

In [1483]:
# Get the data:
import pandas as pd
test_filepath = 'data/test.csv'
testdata = pd.read_table(test_filepath)

In [1484]:
testdata

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,10039,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,2/300*X = 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10482,52vEY7f17k,"Unit CTA1_06, Section CTA1_06-3",FOR05,1,xScale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Changing axis intervals,28
2,11024,52vEY7f17k,"Unit ES_03, Section ES_03-6",EG52,1,2.9 = -2x+3.7+x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[SkillRule: Consolidate vars, no coeff; CLT]",27
3,11476,52vEY7f17k,"Unit CTA1_08, Section CTA1_08-3",REAL10,1,yScale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Changing axis intervals,65
4,11948,52vEY7f17k,"Unit ES_04, Section ES_04-12",EG58,7,xR2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,1075314,C0qLCIhI0O,"Unit CTA1_24, Section CTA1_24-1",L5FB05,1,R4C2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,Entering a given,1
1136,1076841,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS01-FIXED,1,FinalAnswer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,perform-mult-sp,11
1137,1076862,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS08,1,2/1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1138,1076891,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R6C2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,Entering a given,6
1139,1078861,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R7C1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"Entering a given~~Convert unit, standard",23~~2

# Test on given test set

In [1485]:
test_list = []
test_label = []
for _,row in testdata.iterrows():
    # choose the test set
    if not pd.isnull(row['Correct First Attempt']):
        sid = row['Anon Student Id']
        step = row['Step Name']
        problem = row['Problem Name']
        kc_list = []
        if not pd.isnull(row['KC(Default)']):
            kc_list = row['KC(Default)'].split("~~")

        P_sid = SID_dic[sid][0]/SID_dic[sid][1]
        if problem not in Problem_dic.keys():
            P_problem = Problem_avg
        else:
            P_problem = Problem_dic[problem][0]/Problem_dic[problem][1]
            
        if step not in Step_dic.keys():
            P_step = Step_avg
        else:
            P_step = Step_dic[step][0]/Step_dic[step][1]
        P_kc = 1
        if kc_list:
            for kc in kc_list:
                P_kc *= KC_dic[kc][0]/KC_dic[kc][1]
        test_list.append([P_sid, P_step, P_kc, P_problem])
        test_label.append(row['Correct First Attempt'])

In [1486]:
sum(test_label)

540.0

In [1487]:
test_X = torch.Tensor(test_list)

In [1488]:
test_y = model.forward(test_X)

In [1464]:
test_ans = []
for t in test_y:
    if t[0] > 0.54:
        test_ans.append(1)
    else:
        test_ans.append(0)

v = list(map(lambda x: abs(x[0]-x[1]), zip(test_ans, test_label)))

print(1-sum(v)/len(v))

0.8618618618618619

In [1465]:
final_CFA_list = []
for _,row in testdata.iterrows():
    if pd.isnull(row['Correct First Attempt']):
        sid = row['Anon Student Id']
        step = row['Step Name']
        problem = row['Problem Name']
        kc_list = []
        if not pd.isnull(row['KC(Default)']):
            kc_list = row['KC(Default)'].split("~~")

        P_sid = SID_dic[sid][0]/SID_dic[sid][1]
        if problem not in Problem_dic.keys():
            P_problem = Problem_avg
        else:
            P_problem = Problem_dic[problem][0]/Problem_dic[problem][1]
            
        if step not in Step_dic.keys():
            P_step = Step_avg
        else:
            P_step = Step_dic[step][0]/Step_dic[step][1]
        P_kc = 1
        if kc_list:
            for kc in kc_list:
                P_kc *= KC_dic[kc][0]/KC_dic[kc][1]
        
        input_X = [P_sid, P_step, P_kc, P_problem]
        X = torch.Tensor(input_X)
        y = model.forward(X)
        if y > 0.54:
            final_CFA_list.append(1)
        else:
            final_CFA_list.append(0)
    else:
        final_CFA_list.append(row['Correct First Attempt'])

In [1466]:
len(final_CFA_list)

1140

In [1280]:
np.save('final_CFA_list', final_CFA_list)

In [1489]:
out = 'test_out.csv'
outdata = pd.read_table(out)

In [1490]:
outdata

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,10039,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,2/300*X = 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,10482,52vEY7f17k,"Unit CTA1_06, Section CTA1_06-3",FOR05,1,xScale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,Changing axis intervals,28
2,11024,52vEY7f17k,"Unit ES_03, Section ES_03-6",EG52,1,2.9 = -2x+3.7+x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,"[SkillRule: Consolidate vars, no coeff; CLT]",27
3,11476,52vEY7f17k,"Unit CTA1_08, Section CTA1_08-3",REAL10,1,yScale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,Changing axis intervals,65
4,11948,52vEY7f17k,"Unit ES_04, Section ES_04-12",EG58,7,xR2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,1075314,C0qLCIhI0O,"Unit CTA1_24, Section CTA1_24-1",L5FB05,1,R4C2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,Entering a given,1
1136,1076841,e95f4UtF4I,"Unit EXPT-PRODUCT-SIMP-A_ES, Section EXPT-PROD...",EG-EPS01-FIXED,1,FinalAnswer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,perform-mult-sp,11
1137,1076862,e95f4UtF4I,"Unit EXPT-QUOTIENT-SIMP-A_ES, Section EXPT-QUO...",EG-EQS08,1,2/1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1138,1076891,e95f4UtF4I,"Unit CTA1_24, Section CTA1_24-1",PERCENT07,1,R6C2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,Entering a given,6
1139,1078861,JP20cryBg8,"Unit CTA1_24, Section CTA1_24-1",NOV05,1,R7C1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,"Entering a given~~Convert unit, standard",23~~2