In [2]:
import pandas as pd
import numpy as np

In [3]:
# Get the data:
train_filepath = 'data/train.csv'
traindata = pd.read_table(train_filepath)

In [4]:
from sklearn.utils import shuffle
traindata = shuffle(traindata)

In [5]:
traindata.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
162940,777985,QS4cvQ8w0o,"Unit ES_04, Section ES_04-11",EG58,2,9 = 10y-10-8y,2006-02-28 14:37:27.0,2006-02-28 14:37:31.0,2006-02-28 14:37:31.0,2006-02-28 14:37:31.0,4.0,4.0,NaN,1,0,0,1,[SkillRule: Consolidate vars with coeff; CLT],109
183014,874362,m9a501e1MM,"Unit ES_05, Section ES_05-6",EG60,3,6x+14 = -7x,2006-03-01 10:49:20.0,2006-03-01 10:49:27.0,2006-03-01 10:49:27.0,2006-03-01 10:49:27.0,7.0,7.0,NaN,1,0,0,1,"[SkillRule: Consolidate vars, any; {Combine va...",18
38493,197048,f4fNYL73Z2,"Unit ES_02, Section ES_02-4",EG34,1,FinalAnswer,2006-03-03 08:26:50.0,2006-03-03 08:27:08.0,2006-03-03 08:27:08.0,2006-03-03 08:27:25.0,30.0,30.0,NaN,1,0,0,2,perform-mult-sp~~combine-like-terms-whole-sp,25~~17
228268,1055583,5ZR29q8c56,"Unit CTA1_08, Section CTA1_08-2",DEMO_8,1,Formula 1 Coeff 0,2006-04-25 10:00:03.0,2006-04-25 10:00:27.0,2006-04-25 10:00:27.0,2006-04-25 10:00:27.0,24.0,24.0,NaN,1,0,0,1,Setting the y-intercept,9
216069,1015510,rE6U5574qn,"Unit ES_03, Section ES_03-8",LIT10A,1,b-g = 0,2006-03-20 09:17:33.0,2006-03-20 09:17:42.0,2006-03-20 09:17:42.0,2006-03-20 09:17:42.0,9.0,9.0,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",31

In [6]:
studentID = np.unique(traindata['Anon Student Id'])

In [7]:
studentID[0]

'02i5jCrfQK'

In [8]:
split_KC = []
for i, row in traindata.iterrows():
    if not pd.isnull(row['KC(Default)']):
        split_KC.extend(row['KC(Default)'].split("~~"))

In [9]:
split_KC = np.unique(split_KC)

In [10]:
len(split_KC)

110

In [11]:
selected_data = []
for _, row in traindata.iterrows():
    _studentID = row['Anon Student Id']
    _KC = row['KC(Default)']
    _Opp = row['Opportunity(Default)']
    _CFA = row['Correct First Attempt']
    selected_data.append([_studentID, _KC, _Opp, _CFA])

In [12]:
selected_data[:5]

[['QS4cvQ8w0o', '[SkillRule: Consolidate vars with coeff; CLT]', '109', 1],
 ['m9a501e1MM',
  '[SkillRule: Consolidate vars, any; {Combine variables to right, sub; Combine variables to right, add; Combine variables to right, gen; Combine variables to right; Combine variables to left, add; Combine variables to left, sub; Combine variables to left, gen; ax+b=cx; ax+b=cx, move left; ax+b=cx+d, pos; ax+b=cx+d, neg; ax+b=cx+d, move right; ax+b=cx+d, move two; ax+b=cx+d, move two2; x+b=cx+d, pos; x+b=cx+d, neg; x+b=cx+d, move right; x+b=cx+d, move two; x+b=cx+d, move two2; ax+b=x+d, pos; ax+b=x+d, neg; ax+b=x+d, move right; ax+b=x+d, move two; ax+b=x+d, move two2; x+b=x+d, pos; x+b=x+d, neg; x+b=x+d, move right; x+b=x+d, move two; x+b=x+d, move two2}]',
  '18',
  1],
 ['f4fNYL73Z2', 'perform-mult-sp~~combine-like-terms-whole-sp', '25~~17', 1],
 ['5ZR29q8c56', 'Setting the y-intercept', '9', 1],
 ['rE6U5574qn',
  '[SkillRule: Remove constant; {ax+b=c, positive; ax+b=c, negative; x+a=b, positive; x+a=b, negative; [var expr]+[const expr]=[const expr], positive; [var expr]+[const expr]=[const expr], negative; [var expr]+[const expr]=[const expr], all; Combine constants to right; Combine constants to left; a-x=b, positive; a/x+b=c, positive; a/x+b=c, negative}]',
  '31',
  1]]

In [13]:
numerical_data = []
for data in selected_data:
    __studentID = np.zeros(174)
    __KC = np.zeros(110)
    
    if pd.isnull(data[2]):
        __Opp = 0
    else:
        split_Opp = data[2].split("~~")
        _min = 1000000
        for opp in split_Opp:
            if int(opp) < _min:
                _min = int(opp)
        
    for i in range(174):
        # deal with SID
        if data[0] == studentID[i]:
            __studentID[i] = 1
            
        # deal with KC
        if pd.isnull(data[1]):
            continue
        else:
            __split_KC = []
            __split_KC.extend(data[1].split("~~"))
            for item in __split_KC:
                if i < 110 and item == split_KC[i]:
                    __KC[i] = 1
            
    numerical_data.append([__studentID, __KC, _min])

In [14]:
label = []
for data in selected_data:
    label.append(data[3])

In [15]:
numerical_data[0]

[array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0.]),
 array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0.]),
 109]

In [16]:
input_feat = []
for data in numerical_data:
    input_feat.append(np.hstack((data[0], data[1])))

In [17]:
len(input_feat)

232744

In [18]:
train_feat = input_feat[:220000]
val_feat = input_feat[220000:]
train_label = label[:220000]
val_label = label[220000:]

In [19]:
np.save("train_feat_1", train_feat)
np.save("val_feat_1", val_feat)
np.save("train_label_1", train_label)
np.save("val_label_1", val_label)